body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-cell {
    flex: 1;
}

.grid-top {
    align-items: flex-start;
}

.main > H1 {
    margin-top:    0;
}

.grid-cell > H2 {
    margin-top: 0;
}
