body {
    font-family: Puritan, Georgia;
    color: #c8c8c3;
    background: #222233;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-cell {
    flex: 1;
}

.grid-top {
    align-items: flex-start;
}

.main > H1 {
    margin-top:    0;
}

.grid-cell > H2 {
    margin-top: 0;
}

H1, H2 {
    font-family: Puritan;
    font-weight: bold;
}

.liabilities {
    color: #c84842;
}

.footnote {
    margin-top: 3em;
    font-size: 66%;
    font-weight: italic;
}

.balance {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 200%;
}

.balance span:first-child {
    margin-left: 0;
}

.balance span {
    margin-left: 2em;
}
