body {
    font-family: Puritan, Georgia;
    color: #c8c8c3;
    background: #222233;
}

H1, H2 {
    font-family: Puritan;
    font-weight: bold;
}

.liabilities {
    color: #c84842;
}

.footnote {
    margin-top: 3em;
    font-size: 66%;
    font-weight: italic;
}

.balance {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 200%;
}

.balance span:first-child {
    margin-left: 0;
}

.balance span {
    margin-left: 2em;
}
