body {
    font-family: Gill Sans, Lato;
    color: #c8c8c3;
    background: #222233;
}

@media print {
    body {
	font-size: 9pt;
    }

    #console {
	display: none;
    }
}

a:visited {
    color: #9999AA;
}

h1, h2 {
    font-weight: bold;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.1667em;
}

td + td {
    padding-left: 1em;
}

td.linked {
    padding-left: 0;
}

div.number, td.number {
    text-align: right;
}

.liabilities {
    color: #c84842;
}
